@use './mixins';

.btn {
    width: 2.75rem;
    height: 2.75rem;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    @include mixins.btn-hover;
}

.btn--delete-track {
    @extend .btn;
    width: auto;
    height: auto;
}

.btn--info {
    @extend .btn;
    background-color: #42A5F5;
}

.btn--navigation {
    @extend .btn;
    background-color: #00BFA5;
}

.btn--nonavigation {
    @extend .btn;
    background-color: #E53935;
}

.btn--remove-cache {
    @extend .btn;
    background-color: #E91E63;
}